@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import "./frontimage";

*{
    margin: 0px;
    padding: 0px;
    font-family:prata;
    
}
@include image();
      
                


              